* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #777;
}

body {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
